/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

body {
  box-sizing: border-box;
  font-family: georgia,'times new roman',times,serif;
}

a {
  text-decoration: none;
  color: rgb(50, 104, 145);
  font-family: helvetica,arial,sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* Navbar */

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 10px 20px 5px;
  font-size: 15px;
}

.logo {
  width: 225px;
  /* border: 1px solid red; */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px 0 20px;
  font-size: 9px;
  text-transform: uppercase;
}

.login {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid gray;
}

/* Header */

article header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-title {
  max-width: 600px;
}

header h1 {
  text-align: center;
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: italic;
}

.header-info-container {
  max-width: 600px;
  width: calc(100% - 40px);
  margin: 40px 0 40px;
  color: #333;
  
}

.author {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.author span {
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
}

.social li {
  margin-left: 15px;
}

/* Figures */

article figure {
  max-width: 1200px;
}

figcaption {
  max-width: 900px;
  color: grey;
  margin: 5px 20px 0 20px;
  font-size: .93rem;
  line-height: 1.25rem;
  margin-bottom: 10px;
}

.figure-credit {
  font-size: 16px;
  margin-left: 10px;
}

.caption-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000;
}

.image-text-section {
  max-width: 945px;
  min-width: 700px;
  margin: 0 20px 0 20px;
}

.image-container {
  position: relative;
  margin-bottom: 0;
  max-height: 800px;
  overflow: hidden;
}

.image-text-grid {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 100px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.grid-item {
  margin-top: 70%;
}

.image-text-grid span {
  font-weight: bold;
  letter-spacing: .05em;
}

.video {
  max-width: 600px;
}

.video iframe {
  width: 600px;
  height: 357px;
}

/* Article */

section {
  display: flex;
  flex-direction: column;
  color: #333333;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

section p {
  width: calc(100%-40px);
  max-width: 600px;
  margin-bottom: 1rem;
}

.thanks {
  max-width:  600px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.thanks-border-top {
  border-top: 1px solid rgb(204,204,204);
  width: 72px;
  margin: 0 auto 18px;
}

.thanks-border-bottom {
  border-bottom: 1px solid rgb(204,204,204);
  width: 72px;
  margin: 18px auto 1rem;
}

p strong {
  font-weight: bold;
}

.article-emphasis {
  width: 600px;
}

/* Article Footer */

footer {
  font-family: Helvetica, Arial, sans-serif;
}

article footer .actions {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer-caption {
  font-size: .75rem;
  line-height: 1rem;
  color: rgb(102,102,102);
  width: calc(100%-40px);
  max-width: 600px;
}

article footer a {
  color: rgb(102,102,102);
  text-decoration: underline;
}
article footer a:hover {
  text-decoration: none;
}

article footer button {
  background-color: rgb(86,123,149);
  border: 1px solid rgb(50,104,145);
  border-radius: 3px;
  color: white;
  width: 50%;
  font-size: .8125rem;
  font-weight: 600;
}

article footer i {
  font-size: 18px;
}

/* Links to Other Articles */

.additional-content-container {
  display: flex;
  justify-content: center;
}

.additional-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 20px 0 20px;
}

.similar-container {
  flex: 2;
  flex-basis: 66%;
  /* border: 1px solid red; */
}

.similar-container .border {
  border-top: 1px solid #000;
  margin-top: 20px;
}

.similar-container figcaption {
  font-size: .625rem;
  margin: 0;
  line-height: .6rem;
}

.similar-container figure {
  margin: 0;
}

.similar-content {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-between;
}

.similar-article {
  max-width: calc(33% - 20px);
}

.popular-container {
  flex: 1;
  flex-basis: 33%;
  margin-left: 20px;
}

.additional-content > * {
  border-top: 1px solid #000;
}

.additional-content h1 {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  margin: 15px 0 15px 0;
}

h1.similar-article-title {
  font-size: 1.125rem;
  line-height: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: rgb(51,51,51);
}

h2.similar-article-time {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  color: rgb(153,153,153);
}

.popular-container li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(18,18,18);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  border-top: 1px solid rgb(226,226,226);
  padding: 15px 0;
}

/* Directory */

.directory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directory-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(204,204,204);
  padding: 10px 0;
  margin-top: 40px;
}

.home-link {
  font-size: 11px;
  font-weight: 400;
}

.directory {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.directory-links {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
}

.directory-links li:first-child {
  font-size: 13px;
  font-weight: 700;
  color: rgb(13,13,13);
  height: 25px;
  line-height: 15px;
}

.directory-links li{
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  padding-top: 9px;
}

.directory-links li a {
  color: #000;
}
.directory-links li a:hover {
  text-decoration: underline;
}

.directory-links ul{
  padding-left: 20px;
}

.directory-links ul:first-child{
  padding-left: 0;
}

.directory-links ul:last-child{
  border-left: 1px solid rgb(204,204,204);
}

.directory-links strong {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
}

.directory-links .list-border {
  border-bottom: 1px solid rgb(204,204,204);
}

.directory-links .list-margin {
  margin-top: 10px;
}

.directory-links .directory-small {
  font-size: 11px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}

.footer-container {
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  font-size: 11px;
  border-top: 1px solid rgb(226,226,226);
  padding: 10px 0 20px 0;
}

.footer-links {
  width: 90%;
  margin-top: 20px;
}

.footer-links ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
